<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>文章详情</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="__STATIC__/css/common.css">
  <link rel="stylesheet" href="__STATIC__/css/article_detail.css">
  <script src="__STATIC__/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="__STATIC__/js/Global.js"></script>
</head>

<body class="articleDetail">
  <div class="h100scroll">
    <div class="container1">
      <!-- <h4>文章标题</h4>
      <p>文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题</p> -->
      <h4>{$article.title}</h4>
      <p>{$article.content}</p>
    </div>
  </div>

  <script>
    $(function(){
      // Global.changeTitleG()
    })
  </script>
</body>

</html>