<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>猪场风云详情</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="__STATIC__/css/common.css">
  <link rel="stylesheet" href="__STATIC__/css/video_detail.css">
  <link rel="stylesheet" href="__STATIC__/css/pig_detail.css">

  <script src="__STATIC__/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="__STATIC__/js/js-build/clipboard.min.js"></script>
  <script src="__STATIC__/js/Global.js"></script>
  <script src="__STATIC__/js/pig_detail.js"></script>
</head>

<body class="zaixianDetail">
  <div class="h100 overhidden">
    <div class="h100scroll" style="height:calc(100% - 0.5rem);">
      <div class="share-list" style="display: none;">
        <ul class="share-container">
          <li>
            <a title="分享到微信" href="javascript:void(0)" class="bds_weixin">
              <img src="http://images.cnblogs.com/cnblogs_com/a-cat/1193051/o_img_wechat.png" />
            </a>
            <div class="wechat-share">
              <img src="http://images.cnblogs.com/cnblogs_com/a-cat/1193051/o_wechart_share.png" />
            </div>
          </li>
          <li>
            <a title="分享到新浪微博" href="javascript:void(0)" class="share_xlwb" onclick="shareToSinaWB(event)">
              <img src="http://images.cnblogs.com/cnblogs_com/a-cat/1193051/o_img_xlwb.png" />
            </a>
          </li>
          <li>
            <a title="分享到百度贴吧" href="javascript:void(0)" class="share_bdtb" onclick="shareToTieba(event)">
              <img src="http://images.cnblogs.com/cnblogs_com/a-cat/1193051/o_img_bdtb.png" />
            </a>
          </li>
          <li>
            <a title="分享到豆瓣" href="javascript:void(0)" class="share_db" onclick="shareToDouban(event)">
              <img src="http://images.cnblogs.com/cnblogs_com/a-cat/1193051/o_img_db.png" />
            </a>
          </li>
          <li>
            <a title="分享到人人网" href="javascript:void(0)" class="share_rrw" onclick="shareToRenren(event)">
              <img src="http://images.cnblogs.com/cnblogs_com/a-cat/1193051/o_img_renren.png" />
            </a>
          </li>
          <li>
            <a title="分享到QQ好友" href="javascript:void(0)" class="share_qq" onclick="shareToqq(event)">
              <img src="http://images.cnblogs.com/cnblogs_com/a-cat/1193051/o_img_qq.png" />
            </a>
          </li>
          <li>
            <a title="分享到QQ空间" href="javascript:void(0)" class="share_qzone" onclick="shareToQzone(event)">
              <img src="http://images.cnblogs.com/cnblogs_com/a-cat/1193051/o_img_zone.png" />
            </a>
          </li>
          <li>
            <a title="分享到开心网" href="javascript:void(0)" class="share_kx" onclick="shareToKaixin(event)">
              <img src="http://images.cnblogs.com/cnblogs_com/a-cat/1193051/o_img_kx.png" />
            </a>
          </li>
        </ul>
      </div>
      <!-- 猪场风云标题 -->
      <div class="container container1">
        <div class="flexCenter flexBetween titleWrap">
          <h4 class="title"></h4>

          <!-- <div class="mBtnBox">
              <button class="mBtn">关注</button>
            </div> -->
        </div>
        <div class="askItemWrap">
          <div class="askItem">
            <p class="articleText"></p>
          </div>
        </div>
      </div>

      <!-- 猪场风云详情 -->
      <div class="container">
        <div class="flexCenter flexBetween titleWrap">
          <h4 class="title">猪场风云详情</h4>
        </div>
        <div class="askItemWrap">
          <div class="askItem">
            <p class="articleText articleContent"></p>
            <img class="imgw100 pigImg" src="" alt="图片" style="display: none;">
          </div>
        </div>
      </div>
    </div>
    <!-- 提问 收藏 -->
    <div class="downBtnWrap">
      <div class="flexCenter flexJCenter imgBtn lightBlue share" data-clipboard-text="">
        <img src="__STATIC__/images/矢量智能对象@2x (3).png" alt="icon">分享
      </div>
      <!-- <div class="flexCenter flexJCenter imgBtn darkBlue collection">
              <img src="__STATIC__/images/收藏@2x.png" alt="icon">收藏
            </div> -->
    </div>
  </div>
</body>

</html>