body.askDetail{
  background-color: rgba(246, 246, 246, 1);
}
/* 用户提问 */
.container1{
  padding-top: 0.15rem;
  padding-bottom: 0.2rem;
}
.container1>h4{
  color: rgba(61, 61, 61, 1);
  font-size: 0.16rem;
}
.headpicWrap{
  padding: 0.12rem 0;
}
.askContent h4{
  color: rgba(77, 77, 77, 1);
  font-size: 0.16rem;
  height: 0.35rem;
}
.askContent .imgBgSq{
  width: 1.13rem;
}
.askContent .imgBgSq .imgBgSqBox{
  padding: 100% 0 0 0;
  position: relative;
}
.askContent .imgBgSq .imgBgSqBox>img{
  max-width: 1.13rem;
  max-height: 1.13rem;
}
/* 问答列表 */
.container3 .titleWrap{
  padding: 0.15rem 0 0.05rem;
}
.container3 .title{
  color: rgba(61, 61, 61, 1);
  font-size: 0.16rem;
}
.container3 .more{
  color: rgba(179, 179, 179, 1);
  font-size: 0.12rem;
}
.askItem{
  border-bottom: 1px solid rgba(245, 245, 245, 1);
  padding-bottom: 0.15rem;
}
.askItem:last-of-type{
  border-bottom: none;
}
/* 追问 */
.downBtnWrap{
  display: flex;
  height: 0.49rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.imgBtn{
  height: 100%;
  flex: 1 0 0;
  color: #fff;
  font-size: 0.16rem;
}
.imgBtn>img{
  width: 0.17rem;
  height: 0.17rem;
  margin-right: 0.05rem;
}