
.container1{
  background-color: rgba(246, 246, 246, 1);
  padding-bottom: 0.1rem;
}
.container{
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  margin-bottom: 0;
}
.picTextItem{
  margin-bottom: 0;
}
/* 支付 */
.payItem{
  color: rgba(77, 77, 77, 1);
  font-size: 0.14rem;
  border-bottom: 1px solid rgba(246, 246, 246, 1);
  height: 0.6rem;
  padding: 0 0.14rem;
}
.payItem:last-of-type{
  border-bottom: none;
}
.payItem img{
  width: 0.22rem;
  height: 0.22rem;
  margin-right: 0.1rem;
}
.mCheck{
  display: inline-block;
  box-sizing: border-box;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  border: 1px solid rgba(204, 204, 204, 1);
}
.mCheck.active{
  border: none;
  background: url(../images/icon@2x.png) center center no-repeat;
  background-size: 100%;
}
/* 确认支付 */
.btnWrap{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(240, 240, 240, 1);
  height: 0.5rem;
}
.btnWrap .btnWrapText{
  color: rgba(77, 77, 77, 1);
  font-size: 0.16rem;
  padding-left: 0.15rem;
}
.payCount{
  color: rgba(246, 65, 67, 1);
}
.btnWrap .payBtn{
  height: 100%;
  width: 1.12rem;
  background-color: rgba(11, 78, 161, 1);
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.16rem;
}