body.zaixianDetail{
  background-color: rgba(246, 246, 246, 1);
}
/* 视频 */
.video{
  width: 100%;
  height: 2.1rem;
  background-color: #000;
}
.videoTitle{
  color: rgba(60, 60, 60, 1);
  font-size: 0.18rem;
}
.zaixianDetail .mBtnBox{
  width: 0.52rem;
  height: 0.27rem;
}
/* 视频介绍 */
.zaixianDetail .container1{
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
.zaixianDetail .titleTip{
  margin: 0.1rem 0;
}
.zaixianDetail .starsWrap{
  height: 0.16rem;
  width: 0.95rem;
  margin-right: 0.05rem;
}
.zaixianDetail .titleTip>span{
  color: rgba(128, 128, 128, 1);
  font-size: 0.12rem;
}
.zaixianDetail .titleTip>span.bought{
  color: rgba(11, 78, 161, 1);
}
.price{
  width: 100%;
  color: rgba(246, 65, 67, 1);
  font-size: 0.11rem;
}
.zaixianDetail .articleText1{
  margin: 0.1rem 0;
}
.jieshaoImg{
  width: 3.47rem;
  border-radius: 0.05rem;
}
/* 视频评论 */
.container2{
  padding-top: 0.14rem;
  margin-bottom: 0.5rem;
}
.title{
  color: rgba(61, 61, 61, 1);
  font-size: 0.16rem;
}
.more{
  color: rgba(179, 179, 179, 1);
  font-size: 0.12rem;
}
.headpicWrap{
  padding: 0.12rem 0;
}
.askItem{
  border-bottom: 1px solid rgba(245, 245, 245, 1);
  padding-bottom: 0.15rem;
}
.askItem:last-of-type{
  border-bottom: none;
}
/* 评论input */
.commentInput{
  height: 0.5rem;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.commentInput>input{
  height: 0.34rem;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 0.05rem;
  border: none;
  outline: none;
  flex: 1 0 0;
  margin: 0 0.14rem;
  padding-left: 0.1rem;
}
.commentInput>span{
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  margin-right: 0.12rem;
}