<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>关于我们</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <!-- <link rel="stylesheet" href="__STATIC__/css/common.css">

  <script src="__STATIC__/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="__STATIC__/js/Global.js"></script> -->
  <style>
    .aboutP {
      margin: 0.3rem 0.14rem;
      color: rgba(179, 179, 179, 1);
      font-size: 0.14rem;
    }
  </style>
</head>

<body class="about">
  <div class="h100scroll">
    <p class="aboutP">
      关于软件开发商的信息关于软件开发商的信息关于软甲开发商的信息
    </p>
  </div>
</body>

</html>