<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>问答详情</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="__STATIC__/css/weui.css">
  <link rel="stylesheet" href="__STATIC__/js/js-build/jquery-weui-build/dist/css/jquery-weui.min.css">
  <link rel="stylesheet" href="__STATIC__/css/common.css">
  <link rel="stylesheet" href="__STATIC__/css/ask_detail.css">

  <script src="__STATIC__/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="__STATIC__/js/js-build/jquery-weui-build/dist/js/jquery-weui.min.js"></script>
  <script src="__STATIC__/js/js-build/jquery-weui-build/dist/js/swiper.min.js"></script>
  <script src="__STATIC__/js/Global.js"></script>
  <script src="__STATIC__/js/ask_detail.js"></script>
</head>

<body class="askDetail">
  <div class="h100 overhidden">
    <div class="h100scroll" style="height:calc(100% - 0.49rem);">
      <!-- 用户提问 -->
      <div class="container container1">
        <h4>用户提问</h4>
        <div class="flexCenter flexBetween headpicWrap">
          <div class="flexCenterIL headpic">
            <div class="headbox">
              <img src="__STATIC__/images/tx.png" alt="头像">
            </div>
            <span class="headname"></span>
            <!-- <span class="isZhuanjia"></span> -->
          </div>

          <span class="date mainDate">2018-10-22 09:50</span>
        </div>

        <div class="askContent">
          <h4></h4>
          <div class="flexCenter flexAround imgWrap">
          </div>
        </div>
      </div>

      <!-- 追问回复 -->
      <div class="container container3" style="display: none;">
        <div class="flexCenter flexBetween titleWrap">
          <h4 class="title">追问回复</h4>
        </div>
        <div class="askItemWrap">
        </div>
      </div>

      <!-- 追问 -->
      <div class="downBtnWrap">
        <div class="flexCenter flexJCenter imgBtn darkBlue askAgain">
          <img src="__STATIC__/images/矢量智能对象@2x.png" alt="icon">追问
        </div>
        <div class="flexCenter flexJCenter imgBtn lightBlue gotoComment" style="display:none;">
          <img src="__STATIC__/images/评价@2x.png" alt="icon">评论
        </div>
      </div>
    </div>
  </div>
</body>

</html>