<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>提问</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="__STATIC__/css/weui.css">
  <link rel="stylesheet" href="__STATIC__/js/js-build/jquery-weui-build/dist/css/jquery-weui.min.css">
  <link rel="stylesheet" href="__STATIC__/css/common.css">
  <link rel="stylesheet" href="__STATIC__/css/expert_ask.css">

  <script src="__STATIC__/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="__STATIC__/js/js-build/jquery-weui-build/dist/js/jquery-weui.min.js"></script>
  <script src="__STATIC__/js/js-build/jquery-weui-build/dist/js/swiper.min.js"></script>
  <script src="__STATIC__/js/js-build/jquery.form.js"></script>
  <script src="__STATIC__/js/Global.js"></script>
  <script src="__STATIC__/js/expert_ask.js"></script>
</head>

<body class="ask posiRe vh100">
  <div class="h100 overhidden">
    <div class="h100scroll">
      <div class="topTitle">
        <div class="posiRe w100">
          <textarea class="mTextarea1 w100" name="" id="" placeholder="填写问题" maxlength="20"></textarea>
          <span class="countWrap1"><span class="count1">0</span>/20</span>
        </div>
      </div>
      <div class="topWrap paddinglr14">
        <div class="posiRe">
          <textarea class="mTextarea" name="" id="" placeholder="详情描述" maxlength="200"></textarea>
          <span class="countWrap"><span class="count">0</span>/200</span>
        </div>
        <!-- 添加图片 -->
        <div class="addpicWrap" style="display: none;">
          <div style="padding-left:0.05rem;">
            <a class="addpicBtn"></a>
          </div>
          <div class="addedPic">
          </div>
          <div class="iosInputWrap" style="display:none;"></div>
        </div>
      </div>
      <!-- 提问 -->
      <div class="downBtn">
        <button class="mBtn submitAsk">提问</button>
      </div>
    </div>
  </div>
</body>

</html>